@model AppGestionEMS.Models.Evaluaciones

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Seguro que lo quieres eliminar?</h3>
<div>
    <h4>Evaluaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Anyo)
        </dd>

        <dt>
            Grupo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Nombre)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            Convocatoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Convocatoria)
        </dd>

        <dt>
            Nota Media Teoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaMediaTeoria)
        </dd>

        <dt>
            Nota Media Practica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaMediaPractica)
        </dd>

        <dt>
            Nota Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaMediaFinal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
