@model AppGestionEMS.Models.Evaluaciones

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Evaluaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Anyo)
        </dd>

        <dt>
           Grupo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Nombre)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            Convocatoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Convocatoria)
        </dd>

        <dt>
            Nota Media Teoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaMediaTeoria)
        </dd>

        <dt>
            Nota Media Practica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaMediaPractica)
        </dd>

        <dt>
            Nota Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaMediaFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
